#top-image { background: url('../img/b1.jpg') center bottom no-repeat; background-size: cover; height: 300px; }
#top-image h1, #top-image h2 {font-weight: bold}
.form-actions {
padding: 19px 20px 20px;
margin-top: 20px;
margin-bottom: 20px;
background-color: #f5f5f5;
border-top: 1px solid #e5e5e5;
}
nav input[type=text], nav input[type=password] { font-size: 12px}
nav .exit { margin-top: -5px !important }
.table td { vertical-align: middle !important }
.actions div.tile { float: right }
dl { margin: 0 }
.my-stepper .stepper { margin: 0 }
.form label { font-weight: bold }
form .row { margin-top: 0 !important }
.hidden { display: none !important }
.list-remark span { margin-top: 3px; margin-right: 3px }
.icon-toggle-accordion { margin-top: 3px; margin-right: -14px !important }
div.cedula-help { position: absolute; border-left: 2px solid #9a1616; border-bottom: 2px solid #9a1616; height: 40px; width: 650px; margin-top: 8px; margin-left: 5px; }
div.cedula-help:before {content: ''; position:relative; top: -22px; left: -6px; border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #9a1616;}
div.cedula-help:after {content: attr(data-content) ; font-weight: bold; padding: 5px; background-color: #9a1616; color:#fff; text-align: center; position: relative; top: 32px;left: 280px;}
div.error-message {color: #e51400; font-size: 0.8em}
.metro .input-control.text.error input, .metro .input-control.password.error input, .metro .input-control.select.error input, .metro .input-control.textarea.error input, .metro .input-control.file.error input, .metro .input-control.email.error input, .metro .input-control.tel.error input, .metro .input-control.number.error input, .metro .input-control.text.error select, .metro .input-control.password.error select, .metro .input-control.select.error select, .metro .input-control.textarea.error select, .metro .input-control.file.error select, .metro .input-control.email.error select, .metro .input-control.tel.error select, .metro .input-control.number.error select, .metro .input-control.text.error textarea, .metro .input-control.password.error textarea, .metro .input-control.select.error textarea, .metro .input-control.textarea.error textarea, .metro .input-control.file.error textarea, .metro .input-control.email.error textarea, .metro .input-control.tel.error textarea, .metro .input-control.number.error textarea {border-color: #e51400;}
div.required label:after {content: ' *';color: #e51400; font-weight: normal !important;}
div.select label { display: inline-block; margin-left: 5px; }
img.ciudadano_img { width: 40px;position: absolute;margin-top: -10px;}
nav.navigation-bar form strong { margin-left: 43px;}
.metro .table thead th { text-align: left; }