body { font-family: Arial, Helvetica, sans-serif; margin: 30px }
section { margin-bottom: 30px;}
header { text-align: center; }
h1 { text-transform: uppercase; font-size: 12pt; margin-top: 50px; margin-bottom: 50px;}

div.left { position: relative; float: left; width: 30%}
div.right { position: relative; float: right; width: 30%}
div.clear { clear: both; }

table { width: 100% }
table, table tr, table tr td { border: 1px solid #000; vertical-align: top;  font-size: 8pt; }
table tr td[colspan="6"] { width: 100%; }
table tr td[colspan="5"] { width: 50%; }
table tr td[colspan="4"] { width: 33%; }
table tr td[colspan="3"] { width: 25%; }
table tr td[colspan="2"] { width: 20%; }
table tr td[colspan="1"], table tr td { width: 16%; }
table td label { text-transform: uppercase; font-weight: bold; display: block; font-size: 10pt; background-color: #ccc;}
table td strong { text-transform: uppercase; font-weight: bold; font-size: 10pt}
table td label:after { content: ':'}
table td span { text-transform: uppercase; display: inline-block; }
table td span .numbers { display: inline-block; width: 40px; text-align: center; padding:0px 4px; border: 1px solid #000; }
table tr.descripcion {height: 200px;}
td small, td small strong { font-size: 7pt !important; text-transform: uppercase;}

div.index { display: inline-block; position:  relative; float: right; background-color: white; border: 1px solid #000; padding: 0px 6px; font-size: 8pt}

.text-justify { text-align: justify !important }
.text-center {text-align: center !important }
/* SALTO DE PAGINA */
div.breakpage{ display:block; page-break-before:always; margin-bottom: 30px;}