body { font-family: Arial, Helvetica, sans-serif; margin: 30px }
header { text-align: center; }
h1 { text-transform: uppercase; font-size: 12pt; }
h2 { text-transform: uppercase; font-size: 10pt; }

table { width: 100% }
table, table tr, table tr td { border: 1px solid #000; vertical-align: top;  font-size: 10pt; }
table tr td[colspan="6"] { width: 100%; }
table tr td[colspan="5"] { width: 50%; }
table tr td[colspan="4"] { width: 33%; }
table tr td[colspan="3"] { width: 25%; }
table tr td[colspan="2"] { width: 20%; }
table tr td[colspan="1"], table tr td { width: 16%; }
table td label, table td strong { text-transform: uppercase; font-weight: bold; display: block; font-size: 10pt;}
table td label:after { content: ':'}
table td span { text-transform: uppercase; display: block; text-align: center; }
table td span .numbers { display: inline-block; width: 40px; text-align: center; padding:0px 4px; border: 1px solid #000; }
table tr.motivo {height: 300px;}
table tr.fundamentacion{height: 200px;}
table tr.observaciones {height: 100px;}

.text-justify { text-align: justify !important }
.text-center {text-align: center !important }
/* SALTO DE PAGINA */
div.breakpage{ display:block; page-break-before:always; margin-bottom: 30px;}
