 <table style="width:100%">
  <tr>
    <td>Peticiones</td>
    <td>Asesorias</td>
    <td>Sugerencias</td>
    <td>Reclamos</td>
    <td>Quejas</td>
    <td>total</td>
      </tr>
  <tr>
    <td><?php echo $reporte['Reporte']['peticiones']; ?></td>
    <td><?php echo $reporte['Reporte']['asesorias']; ?></td>
    <td><?php echo $reporte['Reporte']['sugerencias']; ?></td>
    <td><?php echo $reporte['Reporte']['reclamos']; ?></td>
    <td><?php echo $reporte['Reporte']['quejas']; ?></td>
    <td><?php echo $reporte['Reporte']['total']; ?></td>
  </tr>
</table> 